* {
    box-sizing: border-box;
}

a {
    font-style: normal;
    text-decoration: none;
}

body {
    background: #EEF9BF;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    margin-top: 45px;
    font-size: 56px;
    color: #75b79e;
    margin-bottom: 47px;
}

.card-container {
    margin: 0px 230px 0px 280px;
    display: flex;
    flex-flow: wrap;
}

.card {
    width: 117px;
    height: 146px;
    margin-left: 34px;
    margin-bottom: 34px;
    position: relative;
}

.face {
    width: 100%;
    height: 100%;
    background: #A7E9AF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #99CEA8;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
}

.back-face {
    transform: rotateY(180deg);
}

.selected .face {
    transform: rotateY(-180deg);
}

.selected .back-face {
    transform: rotateY(0deg);
}

.stay-flipped .back-face {
    transform: rotateY(0deg);
}

.card img {
    width: 100px;
    height: 100px;
}

.hud {
    position: fixed;
    right: 50px;
    bottom: 35px;
    font-size: 35px;
}

.hud p {
    margin-bottom: 30px;
}

.hidden {
    display: none;
}

.reset-game {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
}

.reset-game a button {
    position: absolute;
    left: 50%;
    top: 50%;
}

@media(max-width:1020px) {
    .hud {
        font-size: 29px;
    }
    .hud p {
        margin-bottom: 28px;
    }
}

@media(max-width:850px) {
    .hud {
        right: 20px;
        bottom: 20px;
    }
    .hud p {
        margin-bottom: 26px;
    }
}

@media(max-width:700px) {
    .hud {
        font-size: 22px;
        right: 24px;
        bottom: 24px;
    }
    .hud p {
        margin-bottom: 22px;
    }
    .card-container {
        margin: 0px 250px 0px 190px;
        display: flex;
        flex-flow: wrap;
    }
    .title {
        text-align: center;
    }
    @media(max-width:420px) {
        .hud {
            font-size: 16px;
            right: 10px;
            bottom: 10px;
        }
        .hud p {
            margin-bottom: 12px;
        }
    }
}